@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Noto+Sans+TC:wght@100;300;400;500;700&family=Raleway:wght@400;500;600;700&display=swap");
:root {
  /*****text *****/
  --Eng-font: "Raleway", sans-serif;
  --zhTW-font: "Noto Sans TC", sans-serif;
  --normal-size: 1rem;
  --title-size: 2rem;
  --subtitle-size: ;
  --prefix-size: 1.125rem;
  /*****color *****/
  --bg-black-900: hsl(0, 0%, 0%);
  --bg-black-100: hsl(0, 0%, 87%);
  --bg-black-50: hsl(228, 19%, 95%);
  --bg-opacity: hsla(0, 0%, 100%, 0.5);
  --text-black-900: hsl(0, 0%, 0%);
  --text-black-700: hsl(0, 0%, 33%);
  --text-black-600: hsl(0, 0%, 40%);
  --text-black-500: hsl(0, 0%, 45%);
  --text-black-300: hsl(0, 0%, 73%);
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inner-shadow-0: 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
  --bug-bg:#D4D3CE;
  --scrollbar-thumb-color:hsl(0, 0%, 76%);
}

/* dark mode */
body.dark{
  --bug-bg:#5F5F5F;
  --bg-black-900: hsl(0, 0%, 100%);
  --bg-black-100: hsl(0, 0%, 21%);
  --bg-black-50: hsl(255, 4%, 18%);
  --bg-opacity: hsla(225, 4%, 18%, 0.5);
  --text-black-900: hsl(0, 0%, 100%);
  --text-black-700: hsl(0, 0%, 88%);
  --text-black-600: hsl(0, 0%, 73%);
  --text-black-500: hsl(0, 0%, 73%);
  --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
  --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
  --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
  --inner-shadow-0: 0 0 0 #222327, inset 0 0 0 #363636;
  --bug-bg:#5f5f5f;
  --scrollbar-thumb-color:hsl(0, 0%, 28%);
}

/********************
global style
********************/

body {
  font-size: var(--normal-size);
  line-height: 1.5;
  overflow-x: hidden;
  background: var(--bg-black-50);
  position: relative;
  scroll-behavior: smooth;
}
body.hidden-scrolling {
  overflow-y: hidden;
}

:not(i) {
  font-family: var(--Eng-font);
  font-weight: 400;
}
* {
  margin: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  outline: none;
}
::after,
::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.zhtw {
  font-family: var(--zhTW-font);
  font-weight: 300;
}
.eng-text{
  font-family: var(--Eng-font);
  font-weight: 400;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.outer-shadow {
  box-shadow: var(--outer-shadow);
}
.inner-shadow {
  box-shadow: var(--inner-shadow);
}
.hover-in-shadow {
  position: relative;
  z-index: 1;
}
.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  z-index: -1;
}
.hover-in-shadow:hover:after {
  box-shadow: var(--inner-shadow);
}
.btn-1 {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--skin-color);
  background: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 2rem;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
}
.btn-1::after {
  border-radius: 2rem;
}
.effect-warp .effect {
  position: absolute;
}
.effect-1 {
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid #8a49ff;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}
.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topBounce 3s ease-in-out infinite;
}
.effect-2 div {
  height: 0.2rem;
  width: 0.2rem;
  background: #ff9c07;
  margin: 0 0.2rem 0.5rem;
  border-radius: 50%;
}
.effect-3 {
  left: -16%;
  bottom: 3%;
  animation: leftBounce 8s ease-in-out infinite;
}

.effect-3 .big-flower-box svg{
  height: 440px;
  width: auto;
  opacity: .4;
}
.effect-4-1 {
  left: 30%;
  top: 20%;
  animation: spin01 16s linear infinite;
}
.effect-4-2 {
  left: 60%;
  bottom: 12%;
  animation: spin02 16s linear infinite;
}
.effect-4-1 .leaf-box svg{
  width: 30px;
  height: auto;
}
.effect-4-2 .leaf-box svg{
  width: 20px;
  height: auto;
}

.effect-5 .flower-box svg{
  width:23%;
  height: auto;
  transform: scale(.6);
  opacity: .65;
}

.effect-6-1{
  right:40%;
  top: 8%;
}
.effect-6-2{
  left:40%;
  top: 68%;
}
.effect-6-3{
  right:5%;
  top: 40%;
}
.effect-6-4{
  right:3%;
  top: 48%;
}

.effect-6-1 .big-flower-box svg{
  width:60px;
  height: auto;
  opacity: 1;
}
.effect-6-2 .big-flower-box svg{
  width:40px;
  height: auto;
  opacity: 1;
}
.effect-6-3 .big-flower-box svg{
  width:70px;
  height: auto;
  opacity: 1;
}

.effect-6-4 .big-flower-box svg{
  width:35px;
  height: auto;
  opacity:1;
}

.disappear00{
  animation: disappear00 10s linear infinite;
}
.rotate00{
  animation: rotate00 26s linear infinite;
}
.disappear01{
  animation: disappear01 10s linear infinite;
}
.disappear02{
  animation: disappear02 10s linear infinite;
}
.disappear03{
  animation: disappear03 10s linear infinite;
}
.disappear04{
  animation: disappear04 10s linear infinite;
}

@keyframes disappear00{
  0% {
    opacity: 0;
    transform: scale(1);
  }
  40% {
    opacity: 1;
    transform: scale(1.3);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes rotate00{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
@keyframes disappear01{
  0%{
    opacity: 1;
    transform: scale(.6) rotate(0deg);
  }
  10%,20%,50%,68% {
    opacity: 1;
  }  
  30%,72% {
    opacity: 0;
  }
  80%{
    opacity: 0;
    transform: scale(1.3) rotate(720deg);
  }
  90%{
    opacity: 0;
    transform: scale(.6) rotate(-90deg);
  }
  100%{
    opacity: 1;
    transform: scale(.6) rotate(0deg);
  }
}
@keyframes disappear02{
  0%,100% {
    opacity: 0;
    transform: scale(.3) rotate(0deg);
  }
  1%,40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
    transform: scale(1.2) rotate(-480deg);
  } 
}
@keyframes disappear03{
  0%,100% {
    opacity: 0;
    transform: scale(.3) rotate(0deg);
  }
  5%,55%{
    opacity: 1;
  }
  70% {
    opacity: 0;
    transform: scale(1.3) rotate(270deg); 
  }
}
@keyframes disappear04{
  0%{
    opacity: 0;
    transform: scale(.3) rotate(0deg);
  }
  60%,85%{
    opacity: 1;    
  }
  95%{
    opacity: 0;
  }
  100%{
    opacity: 0;
    transform: scale(1.35) rotate(-540deg);
  }
}

@keyframes spin01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin02 {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-390deg);
  }
}
@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  77% {
    transform: translateY(1.6rem);
  }
}
@keyframes leftBounce {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  78% {
    transform: translateX(2rem) ;
  }
}

.section-title {
  padding: 0 1rem;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 3.75rem;
}
.section-title h2 {
  display: inline-block;
  font-size: var(--title-size);
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: uppercase;
  margin: 0;
}
.section-title h2:before {
  content: attr(data-heading);
  display: block;
  font-size: var(--normal-size);
  font-weight: 600;
  color: var(--skin-color);
}
/* .section.hide {
  display: none;
} */

/************ SCROLL BAR ************/
::-webkit-scrollbar {
  width: .7rem;
  background: var(--bg-black-50);
}

::-webkit-scrollbar-thumb {
  border-radius: 60px;
  background: var(--scrollbar-thumb-color);
}
 
/********************
  header 
  ********************/
.header {
  padding: 0.75rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
}

.header.background {
  background: var(--bg-black-50);
}

.header .logo a {
  display: inline-block;
  text-align: center;
  line-height: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.75rem;
  color: var(--skin-color);
  border-radius: 50%;
  border: 0.1rem solid var(--skin-color);
  font-family: "Amiri", serif;
  font-weight: 400;
  text-transform: uppercase;
}
.header .hamburger-btn {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header .hamburger-btn::after {
  border-radius: 50%;
}
.header .hamburger-btn span {
  position: relative;
  display: block;
  height: 0.125rem;
  width: 1rem;
  background: var(--bg-black-900);
}
.header .hamburger-btn span::before,
.header .hamburger-btn span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-black-900);
}
.header .hamburger-btn span::before {
  top: -0.375rem;
}
.header .hamburger-btn span::after {
  top: 0.375rem;
}

/********************
navigation menu
********************/
.nav-menu {
  position: fixed;
  background: var(--bg-black-50);
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* visibility: hidden; */
  opacity: 0;
  overflow-y: auto;
}
.nav-menu.open {
  /* visibility: visible; */
  opacity: 1;
  z-index: 16;
  transition: all 0.3 ease-in;
}
.fade-out-effect {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-black-50);
  z-index: 4;
  visibility: hidden;
}
.fade-out-effect.active {
  visibility: visible;
  z-index: 4;
  animation: fadeOut 0.3s ease-out;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav-menu .close-nav-menu {
  height: 2.5rem;
  width: 2.5rem;
  display: block;
  font-size: 2.25rem;
  line-height: 2.25rem;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  text-align: center;
  color: var(--text-black-600);
  transition: all 0.3s ease;
}
.nav-menu .close-nav-menu::after {
  border-radius: 50%;
}
.nav-menu-inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu ul {
  padding: 1rem;
}
.nav-menu ul li {
  display: block;
  margin-bottom: 1.25rem;
  text-align: center;
}
.nav-menu ul li:last-child {
  margin-bottom: 0;
}
.nav-menu ul li a {
  display: inline-block;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-black-700);
  padding: 0.35rem 2rem;
  text-transform: capitalize;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.nav-menu ul li a.active {
  color: var(--skin-color);
}
.nav-menu ul li a::after {
  border-radius: 2rem;
}
.nav-menu .copyright-text {
  position: absolute;
  top: 50%;

  font-size: 1rem;
  color: var(--text-black-600);
  transform: translateY(-50%) rotate(-90deg);
  left: -3.75rem;
}

/********************
home section
********************/
.home-section {
  position: relative;
}
.home-section .full-screen {
  padding: 3.125rem 0;
  min-height: 100vh;
  display: flex;
}
.home-section .home-img {
  position: relative;
  flex: 0 0 53%;
  max-width: 53%;
  padding: 0 1rem;
}
.home-section .home-text {
  position: relative;
  flex: 0 0 47%;
  max-width: 47%;
  padding: 0 0rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .home-section .svg-container {
  max-width: 100%;
}
.home-section .svg-container path {
  min-width: 10rem;
  height: auto;
  fill: var(--skin-color);
} */

.home-section .home-text p {
  color: var(--text-black-300);
  font-size: var(--prefix-size);
  margin: 0;
  text-transform: capitalize;
}
.home-section .home-text h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--text-black-900);
}
.home-section .home-text h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-black-700);
  margin-bottom: 4rem;
  text-transform: capitalize;
}
.home-section .home-text a{
  display: block;
  width: fit-content;
}

.home-section .home-img .img-box {
  max-width: 450px;
  display: flex;
  margin: auto;
  border-radius: 50%;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-section .home-img .img-box img{
  width: 100%;
  border-radius: 50%;
  border: 1rem solid transparent;
}
.home-section .home-img .img-box .inner-img-box {
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  border-radius: 50%;
  border: 0.625rem solid transparent;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: rotate3d(0, 0, 0);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: -webkit-radial-gradient(white, black);
}
.allomyrina-top {
  position: absolute;
  top: -120px;
  left: -90px;
  width: 160%;
  height: auto;
  transform: rotateY(180deg);
}

/* .home-section .home-img .img-box img {
  width: 100%;
  border-radius: 50%;
  border: 0.625rem solid transparent;
} */

/********************
about section
********************/
.about-section {
  padding: 5rem 0;
  min-height: 100vh;
}
.about-box{
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}
.about-section .about-img {
  flex: 0 0 30%;
  max-width: 40%;
  padding: 0 1rem;
}
.about-section .about-img .img-box {
  padding: 1rem;
  border-radius: 0.5rem;
}
.about-section .about-img .img-box img {
  width: 100%;
  border: 0.75rem solid transparent;
  border-radius: 0.5rem;
}

.about-section .about-img .social-links {
  text-align: center;
  margin-top: 1.25rem;
  margin-left: -1rem;
}
.about-section .about-img .social-links a {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  text-align: center;
  color: var(--text-black-600);
  margin: 0 0.25rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.about-section .about-info {
  flex: 0 0 40%;
  max-width: 40%;
  padding: 0 1rem;
}
.about-section .about-info p {
  font-size: var(--normal-size);
  line-height: 1.75rem;
  margin-bottom: 1rem;
  color: var(--text-black-600);
}

.about-section .about-info .btn-1 {
  bottom: 1rem;
  margin: 2rem 1rem 0 0;
}

.about-section .about-tabs {
  padding: 3.75rem 1rem 2.25rem;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  z-index: 5;
}
.about-section .about-tabs .tab-item {
  display: inline-block;
  margin: 0 0.25rem 0.5rem;
  cursor: pointer;
  padding: 0.3rem 0.75rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
  font-size: 1rem;
  color: var(--text-black-600);
  font-weight: 500;
  text-transform: capitalize;
}
.about-section .about-tabs .tab-item:hover:not(.active) {
  opacity: 0.6;
}
.about-section .about-tabs .tab-item.active {
  color: var(--skin-color);
}
.about-section .tab-content {
  flex: 0 0 100%;
  max-width: 100%;
  /* background: wheat; */
  padding: 0.5rem 0;
  display: none;
}
.about-section .tab-content.active {
  display: block;
}
.about-section .skills .row {
  /* background: pink; */
  justify-content: center;
}
.about-section .skill-timeline{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.about-section .skill-timeline::before {
  content: "";
  width: 0.1rem;
  height: 100%;
  background: var(--bg-black-100);
  position: absolute;
  left: 50%;
  top: 0;
}
.about-section .skill-timeline .skill-box:nth-child(odd) {
  padding-right: calc(50% + 50px);
  
}
.about-section .skill-timeline .skill-box:nth-child(even) {
  padding-left: calc(50% + 50px);
}

.skill-box {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  text-align: center;
}
.about-section .skill-box .skill-box-inner{
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  grid-template-columns: minmax(80px, auto) 2fr;
}

.about-section .skill-box-inner::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.1rem;
  background: var(--bg-black-100);
  top: 20px;
  z-index: -1;
}

.about-section .skill-timeline .skill-box:nth-child(odd) .icon {
  right: -4.375rem;
  top: 0%;
}
.about-section .skill-timeline .skill-box:nth-child(even) .icon {
  left: -4.375rem;
  top: 0%;
}
.about-section .skill-box .skill-item{
  display: flex;
  flex-direction: column;
  border-right:.1rem solid var(--bg-black-100);
  justify-content: center;
}
.about-section .skill-box .skill-item .icon{
  line-height: 2.25rem;
}
.about-section .skill-box .skill-item .skill{
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--text-black-600);
  margin: .5rem 0.25rem;
  border-radius: 50%;
  transition: all 0.1s ease;
  cursor: pointer;
  text-align: center;

}
.about-section .skill-box .skill-item .skill.active{
  color: var(--skin-color);
}
.about-section .skill-box .skill-item .skill::after{
  border-radius: 50%;
}
.about-section .skill-box .skill-item .skill i,
.about-section .skill-box .skill-item .skill span{
  font-size: 1.2rem;
  line-height: 2.5rem;
  transition: all 0.1s ease;
}
.about-section .skill-box .skill-item .skill span{
  font-weight: 800;
}

.about-section .skill-box .skill:hover i{
  color: var(--skin-color);
}
.about-section .skill-box .skill-content{
  padding: 1rem 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.about-section .skill-box .skill-content .code-text,
.about-section .skill-box .skill-content .soft-text
{
  display: none;
}
.about-section .skill-box .skill-content .code-text.active,
.about-section .skill-box .skill-content .soft-text.active{
  display: block;
}
.about-section .skill-box .skill-content h3 {
  font-size: 1.25rem;
  color: var(--skin-color);
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 1rem;
  
}

.about-section .skill-box .skill-content p {
  font-size:1rem;
  color: var(--text-black-600);
  line-height: 1.5rem;
  margin:0;
}

.about-section
  .skill-timeline
  .skill-box:nth-child(odd)
  .skill-box-inner::before {
  right: -2rem;
}
.about-section
  .skill-timeline
  .skill-box:nth-child(even)
  .skill-box-inner::before {
  left: -2rem;
}

.about-section .timeline {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
.about-section .timeline::before {
  content: "";
  width: 0.1rem;
  height: 100%;
  background: var(--bg-black-100);
  position: absolute;
  left: 50%;
  top: 0;
}
.about-section .timeline .timeline-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
}
.about-section .timeline .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 50px);
  text-align: right;
}
.about-section .timeline .timeline-item:nth-child(even) {
  padding-left: calc(50% + 50px);
}
.about-section .timeline .timeline-item-inner {
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.about-section .timeline .timeline-item-inner::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.1rem;
  background: var(--bg-black-100);
  top: 2.75rem;
  z-index: -1;
}
.about-section
  .timeline
  .timeline-item:nth-child(odd)
  .timeline-item-inner::before {
  right: -2rem;
}
.about-section
  .timeline
  .timeline-item:nth-child(even)
  .timeline-item-inner::before {
  left: -2rem;
}
.about-section .icon {
  height: 2.5rem;
  width: 2.5rem;
  background: var(--bg-black-50);
  border: 0.1rem solid var(--bg-black-100);
  text-align: center;
  line-height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  color: var(--skin-color);
  top: 1.5rem;
  position: absolute;
}
.about-section .timeline .timeline-item:nth-child(odd) .icon {
  right: -4.375rem;
}
.about-section .timeline .timeline-item:nth-child(even) .icon {
  left: -4.375rem;
}
.about-section .timeline .timeline-item-inner span {
  font-weight: 500;
  color: var(--skin-color);
  display: block;
  margin: 0 0 0.625rem;
  text-transform: capitalize;
}
.about-section .timeline .timeline-item-inner h3 {
  font-size: 1.25rem;
  color: var(--text-black-700);
  margin: 0 0 0.3rem;
  text-transform: capitalize;
}
.about-section .timeline .timeline-item-inner h4 {
  font-size: 1rem;
  color: var(--text-black-600);
  margin: 0 0 .5rem 0;
}
.about-section .timeline .timeline-item-inner .works-itembox{
  display: grid;
  row-gap: .5rem;
}
.about-section .timeline .timeline-item:nth-child(odd) .works-itembox{
  margin-left: 16%;
}
.about-section .timeline .timeline-item:nth-child(even) .works-itembox:nth-child(even){
  margin-right: 16%;
}
.about-section .timeline .timeline-item-inner .works-itembox div{
  display: flex;
  text-align: left;
  column-gap: 4px;
}
.about-section .timeline .timeline-item-inner div p{
  line-height:120%;
  font-size: .88rem;
  letter-spacing: .06rem;
  color: var(--text-black-600);
}
/********************
service section
********************/
.service-section {
  padding: 5rem 0;
  min-height: 100vh;
}
.service-section .service-item {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  padding: 1rem;
  display: flex;
}
.service-section .service-item-inner {
  padding: 3.125rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 100%;
}
.service-section .service-item-inner .icon {
  height: 3.75rem;
  width: 3.75rem;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto 2rem;
  position: relative;
  color: var(--text-black-600);
}
.service-section .service-item-inner:hover .icon {
  box-shadow: var(--inner-shadow-0);
}
.service-section .service-item-inner .icon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.service-section .service-item-inner:hover .icon:after {
  box-shadow: var(--outer-shadow);
}
.service-section .service-item-inner .icon i {
  font-size: 1.5rem;
  line-height: 3.75rem;
  transition: all 0.3s ease;
}
.service-section .service-item-inner:hover .icon i {
  color: var(--skin-color);
}
.service-section .service-item-inner h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 0 0 1rem;
  text-transform: capitalize;
  line-height: 1.2rem;
}
.service-section .service-item-inner p {
  font-size: 1rem;
  color: var(--text-black-600);
  margin: 0;
  line-height: 1.5rem;
}
/********************
portfolio section
********************/
.portfolio-section {
  padding: 5rem 0;
  min-height: 100vh;
}
.portfolio-section .section-title {
  margin-bottom: 2.5rem;
}
.portfolio-section .portfolio-filter {
  padding: 0 1rem;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 1.25rem;
  z-index: 10;
}
.portfolio-section .filter-item {
  display: inline-block;
  margin: 0 0.25rem 0.5rem;
  padding: 0.3rem 0.75rem;
  border-radius: 2rem;  
  font-weight: 500;
  color: var(--text-black-600);
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.portfolio-section .filter-item:hover:not(.active) {
  opacity: 0.6;
}
.portfolio-section .filter-item.active {
  color: var(--skin-color);
}

.portfolio-section .portfolio-item {
  flex: 0 0 calc(100% / 3);
  width: 0 0 calc(100% / 3);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-section .portfolio-item.hide {
  display: none;
}
.portfolio-section .portfolio-item.show {
  display: block;
  animation: fadeInTop 0.5s ease;
}
.portfolio-section .portfolio-item-inner {
  padding: 1rem;
  border-radius: .4rem;
  width: 100%;
}
.portfolio-section .portfolio-item-img img {
  cursor: pointer;
  border-radius: 0.25rem;
  width: 100%;
  transition: all 0.3s ease;
}
.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img {
  transform: translateY(-1.5rem);
}
.portfolio-section .portfolio-item-img {
  position: relative;
}
.portfolio-section .portfolio-item-img .view-project {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  color: var(--skin-color);
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(-0.4rem);
  z-index: -1;
  opacity: 0;
}
.portfolio-section .portfolio-item-inner:hover .view-project {
  transform: translateY(0.4rem);
  opacity: 1;
}
p.portfolio-item-title{
  color: var(--text-black-700);
  font-size: 1rem;
  text-transform: capitalize;
}
/********************
portfolio popup
********************/
.portfolio-popup {
  background: var(--bg-black-50);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;/*if height = content's height 那scrollbar會因為不需要滑動而消失*/
  z-index: 21;
  opacity: 0;/*0*/
  overflow-y: hidden;
  visibility: hidden;/*hidden*/
  transition: all .3s ease;
  display: grid;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}
.portfolio-popup.open {
  visibility: visible;
  opacity: 1;
  overflow-y:scroll;
  z-index: 21;
}
.portfolio-popup .pp-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  z-index: 22;
  background: var(--bg-opacity);
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}
.portfolio-popup .pp-loader.active {
  visibility: visible;
  opacity: 1;

}
.portfolio-popup .pp-loader div {
  height: 2.5rem;
  width: 2.5rem;
  border: 0.25rem solid var(--skin-color);
  border-radius: 50%;
  border-right: 0.25rem solid transparent;
  animation: spin 2s linear infinite;
}

.portfolio-popup .pp-details {
  max-width: 75vw;
  width: 75vw;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.portfolio-popup .pp-details.active {
  opacity: 1;
  overflow: visible;
}
.portfolio-popup .pp-details-inner {
  padding: 1rem;
}
.portfolio-popup .data-box{
  display: none;
}
.portfolio-popup .data-box.show{
  display: block;
}
.portfolio-popup .portfolio-item-details .row{
  display: flex;
  grid-column-gap: 2rem;
  max-width: 100%;
}
.portfolio-popup .portfolio-item-details h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 0.75rem 0 0.5rem;
  text-transform: capitalize;
}

.portfolio-popup .portfolio-item-details p {
  font-size: 1rem;
  color: var(--text-black-600);
}
.portfolio-popup .portfolio-item-details.skm h4{
  font-weight: 500;
}
.portfolio-popup .portfolio-item-details.skm p {
  font-size: 1rem;
  color: var(--text-black-600);
  padding: 8px 0 0 0;
}
.portfolio-popup .portfolio-item-details p span {
  font-weight: 400;
  text-transform: capitalize;
}
.portfolio-popup .briefbox {
  flex: 0 0 63%;
  max-width: 63%;
  order: 2;
}
.portfolio-popup .infobox {
  flex: 0 0 31%;
  max-width: 31%;
}
.briefbox-content{
  display: flex;
  width: 100%;
}
.briefbox-content .figma,
.briefbox-content .code{
  flex: 0 0 100%;
  max-width: 100%;
}
.briefbox-content .figma{
  padding-left:0rem;
  padding-top: 0;
}
.briefbox-content .code{
  padding-right: 1rem;
  padding-bottom: 0;
}
.briefbox-content h4{
  font-size: 1rem;
  font-weight: 700;
  color:var(--text-black-600) ;
}
.briefbox-content p{
  display: block;
  padding: .5rem 0 0 0;
}
.portfolio-popup .infobox ul li {
  display: block;
  margin-bottom: 0.125rem;
  font-weight: 600;
  color: var(--text-black-600);
  font-size: 1rem;
}
.portfolio-popup .infobox ul li span {
  font-weight: 400;
}
.portfolio-popup .infobox ul li a {
  color: var(--skin-color);
}
.portfolio-popup .infobox .link{
  margin-top: 1.2rem;
  display:flex;
  gap: 2rem;
}

.portfolio-popup .portfolio-control{
  max-width:75vw;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.portfolio-popup .portfolio-control .row{
  position: relative;
  width: 100%;
  height: auto;
}
.portfolio-popup .pp-project-details-btn {  
  display: inline-block;  
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--skin-color);
  cursor: pointer;
  padding: 0 1rem;
}
.portfolio-popup .pp-project-details-btn i {
  margin-left: 0.3rem;
}
.portfolio-popup .pp-project-details-btn:after {
  border-radius: 2rem;
}

.portfolio-popup .pp-close,
.portfolio-popup .pp-btnbar,
.portfolio-popup a.pp-srolltop,
.portfolio-popup .pp-frontpage,
.portfolio-popup .pp-moon,
.portfolio-popup .pp-nav {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.25rem;
  color: var(--text-black-600);
  cursor: pointer;
  transition: all .3s ease;
}
.portfolio-popup .pp-close::after,
.portfolio-popup .pp-btnbar::after,
.portfolio-popup a.pp-srolltop::after,
.portfolio-popup .pp-frontpage::after,
.portfolio-popup .pp-moon::after,
.portfolio-popup .pp-nav::after{
  border-radius: 50%;
}
.portfolio-popup .pp-btnbar{
  display: flex;
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  z-index: 30;
  border-radius: 50%;
  background: var(--bg-black-50);
  align-items: center;
  justify-content: center;
}

.portfolio-popup .pp-nav,
.portfolio-popup .pp-frontpage,
.portfolio-popup .pp-moon,
a.pp-srolltop{
  position: absolute;
  border-radius: 50%;
}
.portfolio-popup .pp-nav,
.portfolio-popup .pp-frontpage,
a.pp-srolltop{
  background: var(--bg-black-50);
}
.pp-nav{
  z-index: 35;
}
.pp-nav,
a.pp-srolltop,
.pp-frontpage,
.pp-moon{
  top:0;
  right: 0;
}

a.pp-srolltop,
.pp-frontpage,
.pp-moon{
  opacity: 0;
}
a.pp-srolltop.active,
.pp-frontpage.active,
.pp-moon.active{
  opacity: 1;
}

a.pp-srolltop.active{
  top: -3.5rem;
  right: 0rem;
}
.pp-frontpage.active{
  top: 0rem;
  right: 3.5rem;
}
.pp-moon.active{
  top: 3.5rem;
  right: 0rem;
}

.pp-moon i.fa-moon{
  color: #fceabb; /* Old browsers */
  color: -moz-linear-gradient(-45deg,  hsl(43,91%,86%) 0%, hsl(44,97%,65%) 50%, hsl(44,100%,49%) 51%, hsl(44,93%,78%) 100%); /* FF3.6-15 */
  color: -webkit-linear-gradient(-45deg,  hsl(43,91%,86%) 0%,hsl(44,97%,65%) 50%,hsl(44,100%,49%) 51%,hsl(44,93%,78%) 100%); /* Chrome10-25,Safari5.1-6 */
  color: linear-gradient(135deg,  hsl(43,91%,86%) 0%,hsl(44,97%,65%) 50%,hsl(44,100%,49%) 51%,hsl(44,93%,78%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.pp-moon i.fa-sun{
  color: #febf01; /* Old browsers */
  color: -moz-linear-gradient(-45deg,  hsl(45,99%,50%) 0%, hsl(45,99%,50%) 100%); /* FF3.6-15 */
  color: -webkit-linear-gradient(-45deg,  hsl(45,99%,50%) 0%,hsl(45,99%,50%) 100%); /* Chrome10-25,Safari5.1-6 */
  color: linear-gradient(135deg,  hsl(45,99%,50%) 0%,hsl(45,99%,50%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.portfolio-popup .pp-nav i{
  font-size: 1.25rem;
}
.portfolio-popup .pp-nav .fa-minus{
  font-size: 1.2rem;
  transform: translateY(-3px);
}

.portfolio-popup .pp-srolltotop,
.portfolio-popup .pp-frontpage,
.portfolio-popup .pp-moon {
  line-height: 1.75rem;
}

.portfolio-popup a.pp-srolltop i,
.portfolio-popup .pp-frontpage i,
.portfolio-popup .pp-moon i{
  font-size: 1rem;
}
.portfolio-popup .pp-nav:hover i,
.portfolio-popup a.pp-srolltop:hover i,
.portfolio-popup .pp-frontpage:hover i{
  color: var(--skin-color);
}


.portfolio-popup .pp-main {
  height: auto;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-popup .pp-main-inner {
  padding: 0;
}

.portfolio-popup .pp-box {
  width:75vw;
  height: fit-content;
  padding: 0.625rem;
  border-radius: 0.35rem;
  display: none;
}
.portfolio-popup .pp-box.show{
  display: block;
}

/********************
copyrights
********************/

.footer.copyright{
  background: var(--bg-black-50);
  height: calc(48px + .9rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright span,.copyright a{
  font-size: .9rem;
  color: var(--text-black-900);
  transition: all .3s linear;
}
.copyright span{
  cursor: default;
}
.copyright div {
  display: inline-block;
  width: fit-content;
  height: auto;
  cursor: pointer;
  
}
.copyright div:hover a{
  color: var(--skin-color);
}

/********************
contact section
********************/
.contact-section {
  padding: 5rem 0 5rem;
  min-height: 100vh;
}
.contact-section .contact-item {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  padding: 1rem;
  display: flex; /*可以令每個內如長短大小不一的方格統一依樣大*/
}
.contact-section .contact-item-inner {
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 0.4rem;
  width: 100%;
}
.contact-section .contact-item-inner i {
  font-size: 1.5rem;
  color: var(--skin-color);
}
.contact-section .contact-item-inner span {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 0.625rem 0 0.35rem;
  text-transform: capitalize;
}
.contact-section .section-title p,
.contact-section .contact-item-inner p {
  font-size: 1rem;
  color: var(--text-black-600);
  line-height: 1.5rem;
  margin: 0;
  word-break: break-all; /*馬的英文不會自己斷行*/
}
.contact-section .contact-item-inner a p:hover{
color: var(--skin-color);
}

.contact-section .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 3rem;
}
.contact-section .w-50 {
  padding: 0 1rem;
  flex: 0 0 50%;
  max-width: 50%;
}
.contact-section .input-group {
  margin: 0 0 1.5rem;
  transition: all 0.3s ease;
  border-radius: 0.4rem;
}
.contact-section .input-group:after {
  border-radius: 0.4rem;
}
.contact-section .input-group .input-control {
  height: 3rem;
  display: block; /*令input轉為block符合div盒大小*/
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  background: transparent; /*input原背景是白色*/
  font-size: 0.75rem;
  padding: 0 1rem;
  color: var(--text-black-700);
}
.contact-section .input-group textarea.input-control {
  height: 12rem;
  padding-top: 1rem;
}
.contact-section .submit-btn {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: right;
  padding: 0 1rem;
}

